$titleFontFamily: "ahsingregular";
$titleFontWeight: 300;
$titleFontSize: px(100);
$titleFontSizeMobile: px(35);

$textFontFamily: "glacial_indifferenceregular", sans-serif;
$textFontSize: px(20);
$textFontSizeMobile: px(16);

$colorPrimary: #c91745;
$colorSecondary: #ffaebf;
$colorTertiary: #edebff;
$colorQuaternary: #ffffff;