
// Ahsing

@font-face {
    font-family: 'ahsingregular';
    src: url('/src/assets/fonts/Ahsing/ahsing-regular-webfont.woff2') format('woff2'),
         url('/src/assets/fonts/Ahsing/ahsing-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


// Glacial

@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('/src/assets/fonts/Glacial/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('/src/assets/fonts/Glacial/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



